body{
    background-size: cover;
    background-image: url("http://4kwallpapers.com/images/walls/thumbs_2t/8324.png");
}
h2{
    font-size: 0.45in;
}
ul{
    font-size: 0.30in;
}
p{
    font-size: 0.30in;
}